In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/V5.csv')

In [3]:
df.head(5)

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East

In [11]:
even_index_row= df.iloc[::2]
print(even_index_row.iloc[0,3])

111440.0

In [13]:
# prompt: Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 0th indexed row in the selected dataframe. (row/ column indexed from zero(0) in python/pandas)

print(even_index_row.iloc[332,3])

256200.0

In [17]:
odd_index_row = df.iloc[1::2]
print(odd_index_row.iloc[332,3])

352940.0

In [18]:
print(odd_index_row.iloc[100,5])

Single Family

In [19]:
df.head(5)

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East

In [22]:
even_row_col = df.iloc[::2 , ::2]
print(even_row_col.iloc[255,3])

Detached House

In [25]:
# prompt: Determine the number of samples (rows) in the dataset that belong to the six most recent years, based on the provided data.

# Assuming 'Date' column is in datetime format or can be converted to it.
# If not, you might need to adjust the code accordingly.

import pandas as pd

# Assuming 'df' is your DataFrame and 'Date' is the column containing dates.
# Convert the 'Date' column to datetime objects if it's not already.
df['Date'] = pd.to_datetime(df['Date'])

# Find the most recent year in the dataset.
most_recent_year = df['Date'].dt.year.max()

# Calculate the number of samples for the six most recent years.
num_samples_recent_years = df[df['Date'].dt.year >= most_recent_year - 5].shape[0]

print("Number of samples in the six most recent years:", num_samples_recent_years)

Number of samples in the six most recent years: 4749

In [33]:
df[(df['num_rooms'] == 3) & (df['num_bathrooms'] == 3)].shape

(2730, 12)

In [35]:
df[(df['num_rooms'] == 3) | (df['num_bathrooms'] == 3)].shape

(8591, 12)

In [38]:
df['Date'][0:4]

0   2009-01-02
1   2009-01-02
2   2009-01-02
3   2009-01-02
Name: Date, dtype: datetime64[ns]

In [39]:
def year(date):
  a = date.split('-')
  return a[0]

In [47]:
df[(df['Date'].dt.year == 2022) & (df['Locality'] == 'Greewich') & (df['num_rooms'] == 3) & ((df['Face'] == 'East')| (df['Face'] == 'East'))]

Empty DataFrame
Columns: [Date, Year, Locality, Estimated Value, Sale Price, Property, Residential, num_rooms, num_bathrooms, carpet_area, property_tax_rate, Face]
Index: []

In [48]:
# prompt: In the Year 2022, how many houses (rows) located in the Greenwich Locality have exactly num_room == 3, and facing towards either the North or East?

df[(df['Date'].dt.year == 2022) & (df['Locality'] == 'Greewich') & (df['num_rooms'] == 3) & ((df['Face'] == 'North') | (df['Face'] == 'East'))].shape[0]

0

In [50]:
df[df['Date'].dt.month == 8].shape

(1050, 12)

In [51]:
# prompt: Calculate the number of samples(rows) that correspond to the month of August across all the years.?

num_august_samples = df[df['Date'].dt.month == 8].shape[0]
print("Number of samples in August across all years:", num_august_samples)

Number of samples in August across all years: 1050

In [52]:
for locality in df['Locality'].unique():
  print(locality, df[df['Locality'] == locality]['Sale Price'].mean())

Waterbury 106215.15789473684
Bridgeport 174095.33940774488
Greenwich 2270223.5394952386
Norwalk 559095.8680981596
nan nan
Fairfield 727722.4806694561
West Hartford 338547.1652654109
Stamford 630531.275212064

In [53]:
# prompt: According to the data which Locality have highest average Sale Price?

# Find the average sale price for each locality
locality_avg_prices = {}
for locality in df['Locality'].unique():
  locality_avg_prices[locality] = df[df['Locality'] == locality]['Sale Price'].mean()

# Find the locality with the highest average sale price
highest_avg_price_locality = max(locality_avg_prices, key=locality_avg_prices.get)

print("Locality with the highest average sale price:", highest_avg_price_locality)

Locality with the highest average sale price: Greenwich